.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.taskCards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
.title {
  grid-area: title;
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 2rem;
}
.task {
  grid-area: task;
  padding-left: 2rem;
  display: flex;
}
.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "...." "title" "task";
  height: 12rem;
  width: auto;
  border: 1px solid #e3dddd;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  position: relative;
}

.taskCard {
  display: grid;
  grid-template-columns: 3rem 4fr 1rem;
  height: 5rem;
  max-width: 100%;
  border: 1px solid #e3dddd;
  transition: 0.3s ease-in-out all;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}
.taskCard:hover,
.card:hover {
  box-shadow: 0 0 15px 2px #e3dddd;
  border: 0 solid #e3dddd !important;
}
.titleAndDescription {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.titleAndDate {
  display: grid;
  position: relative;
}
.date {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.checkbox {
  display: grid;
  align-content: center;
}

.hambugger {
  display: none;
  margin-left: auto;
  margin-right: 2rem;
  padding: 0.4rem 0.5rem;
}
.more {
  position: absolute;
  bottom: -4.9rem;
  border: 1px solid #e3dddd;
  background-color: #fff;
  z-index: 3;
  padding: 1rem 2rem;
  right: 0.8rem;
  box-shadow: 0 0 60px rgba(14, 42, 71, 0.25);
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 0.5rem;
}
.more::before {
  font-size: 1.4em;
  display: block;
  width: 0;
  height: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  top: -0.45em;
  right: 1rem;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
}
.more::after {
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
}
.show {
  display: flex;
}
.none {
  display: none;
}
.checkboxTemplate {
  display: grid;
  width: 1.2rem;
  height: 1.2rem;
}
.taskTitle {
  margin: 0.3rem 0;
  text-transform: capitalize;
  font-weight: bold;
}
.description {
  margin: 0.3rem 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img {
  height: 50%;
}
@media (min-width: 768px) {
  .taskCards {
    grid-template-columns: 1fr 1fr;
  }
  .img {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .taskCards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.wrapper {
  width: 0px;
  animation: fullView 0.5s forwards linear;
  border: 0;
}
.wrapper:hover {
  box-shadow: none;
}
.animate {
  animation: shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
@keyframes fullView {
  100% {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .title {
    padding-left: 1rem;
  }
  .task {
    padding-left: 1rem;
  }
  .cards {
    row-gap: 1rem;
    column-gap: 1rem;
  }
}
