html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  color: blue;
}

* {
  box-sizing: border-box;
}
.mt2 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
}
.flex--space-between {
  justify-content: space-between;
}
.width--auto {
  width: auto !important;
}
.mb--1 {
  margin-bottom: 1rem;
}
.button--box-shadow:focus,
.button--box-shadow:hover {
  box-shadow: none !important;
  opacity: 0.8;
}
