html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
  color: blue;
}

* {
  box-sizing: border-box;
}
.mt2 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
}
.flex--space-between {
  justify-content: space-between;
}
.width--auto {
  width: auto !important;
}
.mb--1 {
  margin-bottom: 1rem;
}
.button--box-shadow:focus,
.button--box-shadow:hover {
  box-shadow: none !important;
  opacity: 0.8;
}

.aria-close {
  display: flex;
}
.aria-close__button {
  margin-left: auto;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.2rem 0.3rem;
}
.aria-close__button:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.bg--cancel {
  background-color: #ff5254;
  color: #fff;
}
